[submodule "themes/bigspring-light"]
	path = themes/bigspring-light
	url = https://github.com/anhtai1907/bigspring-light-hugo.git
	branch = main
[submodule "content"]
	path = content
	url = https://github.com/anhtai1907/hugo-sites-demo-data.git
	branch = main
[submodule "themes/vex-hugo"]
	path = themes/vex-hugo
	url = https://github.com/anhtai1907/vex-hugo.git
	branch = main
