[submodule "themes/bigspring-light"]
	path = themes/bigspring-light
	url = https://github.com/anhtai1907/bigspring-light-hugo.git
[submodule ".data"]
	path = .data
	url = https://github.com/anhtai1907/hugo-sites-demo-data.git
